<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <title>Document</title>
  <link href="../public/index.css" rel="stylesheet">

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />

  <style>
    .contact {
      padding-left: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    #details {
      margin-top: 50px;
      margin-bottom: 70px;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    .header {
      background-color: #7053ff;
    }

    .btn {
      background-color: #fff;
      color: #5a39fe;
      font-weight: bold;
    }

    .btn:hover {
      background-color: rgb(194, 197, 249);
    }

    .heading {
      color: #5a39fe;
    }

    .carousel-item {
      height: 700px;
      margin-left: 30px;
      margin-right: 50px;
    }

    /* Style for the overall row */
    .row.footer-contact-desc {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }

    /* Style for each column */
    .col-md-4 {
      flex: 0 0 30%;
      /* Adjust the width as needed */
    }

    .content-holder {
      color: #fff;
      background: linear-gradient(135deg, #5356FF 0%, #8F94FB 100%);
      border-radius: 20%;
      height: 350px;
      width: 500px;
    }

    .right-text {
      padding-left: 100px;
    }

    .right-image {
      padding-left: 60px;
    }

      {
        {
        !-- .image {
          height: 600px;
          width: 500px;
        }

        --
      }
    }

    .card-heading {
      text-align: center;
      padding-top: 20px;
      height: 20px;
    }

    .card-description {
      padding: 40px;

    }

    ul li a {
      text-decoration: none;
      color: #fff;
    }

    /* Style for the contact-inner div */
    .contact-inner {
      text-align: center;
    }

    /* Style for the icon */
    .contact-inner i {
      font-size: 24px;
      margin-bottom: 10px;
    }

    /* Style for the contact-title */
    .contact-title {
      font-size: 18px;
      margin-bottom: 10px;
    }

    /* Style for the contact-desc paragraph */
    .contact-desc {
      font-size: 14px;
      line-height: 1.5;
    }

    /* Style for the Google Maps Link */
    .contact-desc a {
      color: #007bff;
      /* Change the color as needed */
      text-decoration: none;
    }

    .contact-desc a:hover {
      text-decoration: underline;
    }

    .carousel-item img {
      width: 60%;
      /* Set the width to 100% */
      height: auto;
      /* Maintain the aspect ratio */
    }

    /* Container for the scrolling strip */
    .scrolling-container {
      width: 100%;
      /* Set the width of the container */
      overflow: hidden;
      /* Hide overflowing content */
    }

    .scrolling-strip {
      white-space: nowrap;
      /* Prevent line breaks */
      animation: scrollLeft 15s linear infinite;
      /* Continuous horizontal scrolling animation */
    }

    .scrolling-strip img {
      display: inline-block;
      /* Display images inline */
      height: 400px;
      /* Set the height of the images */
      margin-right: 20px;
      /* Margin between images */
    }

    @keyframes scrollLeft {
      0% {
        transform: translateX(0);
      }

      /* Start from initial position */
      100% {
        transform: translateX(calc(-100% - 20px));
      }

      /* Move to the left by the total width of all images plus margins */
    }
  </style>

</head>

<body>
  <header class="p-3 mx-0 text m-5 header">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="62" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#home" class="nav-link px-2 text-white">Home</a></li>
          <li>
            <a href="https://pict.edu/hostel/" class="nav-link px-2 text-white">Fee Structure</a>
          </li>
          <li>
            <a href="guidelines" action="get" class="nav-link px-2 text-white">Guidelines</a>
          </li>
          <li><a href="#contact" class="nav-link px-2 text-white">Contact</a></li>
          <li><a href="aboutus" action="get" class="nav-link px-2 text-white">AboutUs</a></li>
        </ul>

        <div class="text-end ">
          <a href="login" action="get"><button type="button1" class="btn">Login</button></a> &nbsp;
          <a href="register" action="get"><button type="button1" class="btn ">Sign-up</button></a>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="row justify-content-center flex-column">
      <div class="d-flex align-items-center">
        <div class="image1 m-auto">
          <a href="#"><img class="image2" src="https://www.pict.edu/images/pic.jpg" alt="logo" width="150"
              height="150" /></a>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center" id="details">
        <div class="small-font text-center">
          <h5>Society for Computer Technology and Research's</h5>
        </div>
        <div class="large-font text-center">
          <h1><b>PUNE INSTITUTE OF COMPUTER TECHNOLOGY</b></h1>
        </div>
        <div class="small-font text-center">
          <h5>(An Autonomous Institute affiliated to Savitribai Phule Pune
            University)</h5>
        </div>
        <div class="small-font text-center">
          <h5>AICTE APPROVED | ISO 9001:2015 | NAAC A+ Grade | NBA [All Eligible UG
            Programs]</h5>
        </div>
      </div>
    </div>

    <br>
    <br>
    <div class="container">
      <div class="scrolling-container">
        <div class="scrolling-strip">
          <!-- Images to be scrolled -->
          <img src="http://yesofcorsa.com/wp-content/uploads/2017/12/Hostel-Wallpaper-Download-Free.jpg" alt="Image 1">
          <img src="https://qph.cf2.quoracdn.net/main-qimg-117aa6338e517d14c74131a6272b635b.webp" alt="Image 2">
          <img src="https://images.shiksha.com/mediadata/images/1553062165php1snVdI.jpeg" alt="Image 3">
          <img src="https://vistapointe.net/images/hostel-3.jpg" alt="Image 4">
          <img src="http://yesofcorsa.com/wp-content/uploads/2017/12/Hostel-Wallpaper-1080p.jpg" alt="Image 5">
          <img src="http://yesofcorsa.com/wp-content/uploads/2017/12/Hostel-Wallpaper-Download-Free.jpg" alt="Image 6">
           <img
            src="https://content.jdmagicbox.com/comp/pune/x6/020pxx20.xx20.220724184512.u5x6/catalogue/stay-safe-girls-hostel-dhankawadi-pune-hostels-5wf47mj5j0.jpg"alt="Image 2">
          <img src="http://yesofcorsa.com/wp-content/uploads/2017/12/Hostel-Wallpaper-1080p.jpg" alt="Image 2">
          <!-- Repeat more images as needed -->
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

    {{!-- <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators ">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
          aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
          aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
          aria-label="Slide 7"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="http://yesofcorsa.com/wp-content/uploads/2017/12/Hostel-Wallpaper-Download-Free.jpg"
            class="d-block w-100 align-items-center" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://qph.cf2.quoracdn.net/main-qimg-117aa6338e517d14c74131a6272b635b.webp"
            class="d-block w-100 align-items-center" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.shiksha.com/mediadata/images/1553062165php1snVdI.jpeg"
            class="d-block w-100 align-items-center" alt="...">
        </div>
        <div class="carousel-item active">
          <img src="https://vistapointe.net/images/hostel-3.jpg" class="d-block w-100 align-items-center" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="http://yesofcorsa.com/wp-content/uploads/2017/12/Hostel-Wallpaper-1080p.jpg"
            class="d-block w-100 align-items-center" alt="...">
        </div>
        <div class="carousel-item">
          <img src="http://yesofcorsa.com/wp-content/uploads/2017/12/Hostel-Wallpaper-Download-Free.jpg"
            class="d-block w-100 align-items-center" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://content.jdmagicbox.com/comp/pune/x6/020pxx20.xx20.220724184512.u5x6/catalogue/stay-safe-girls-hostel-dhankawadi-pune-hostels-5wf47mj5j0.jpg"
            class="d-block w-100 align-items-center" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> --}}

    <div class="container mt-5" id="home">
      <div class="section-header heading" id="hello">
        <h1><b>Features of The Hostel Management System</b></h1>
      </div>
      <br>
      <br>
      <br>

      <div class="row item-row">
        <div class="col-lg-6 image">
          <div class="img-holder left-holder w-lines-1">
            <img alt="image description"
              src="https://s3.us-west-2.amazonaws.com/www.bookingninjas.com/img/illustration-8.svg">
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center right-text">
          <div class="content-holder">
            <div class="text-holder">
              <h3 class="h3 title-border card-heading ">Room Allocation </h3>
              <br>
              <ul class="list-unstyled card-description">
                <li>
                  Hostel management involves efficiently assigning rooms to residents, considering factors like
                  preferences, availability, and compatibility to ensure a harmonious living environment.
                </li>
                <li>
                  Assign rooms tailored precisely to guest preferences, budget, and the
                  number of available rooms in your hostel all before they arrive.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row item-row flex-column-reverse flex-lg-row">
        <div class="col-lg-6 d-flex align-items-center">
          <div class="content-holder">
            <div class="text-holder">
              <h3 class="h3 title-border card-heading">Complaint Resolution</h3>
              <br>
              <ul class="list-unstyled card-description">
                <li>
                  Promptly addressing resident complaints and concerns, whether related to facilities, noise
                  disturbances,
                  or interpersonal conflicts, to maintain a conducive living environment.
                </li>
                <li>
                  Resolving complaints effectively in a hostel setting is crucial for maintaining a positive and
                  harmonious
                  living environment for all residents.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 image right-image">
          <div class="img-holder right-holder w-lines-2">
            <img alt="image description"
              src="https://s3.us-west-2.amazonaws.com/www.bookingninjas.com/img/illustration-6.svg">
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row item-row">
        <div class="col-lg-6 image">
          <div class="img-holder left-holder w-lines-1">
            <img alt="image description"
              src="https://s3.us-west-2.amazonaws.com/www.bookingninjas.com/img/illustration-5.svg">
            {{!-- src="https://s3.us-west-2.amazonaws.com/www.bookingninjas.com/img/illustration-8.svg"> --}}
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center  right-text">
          <div class="content-holder">
            <div class="text-holder">
              <h3 class="h3 title-border card-heading">Attendance Tracking</h3>
              <br>
              <ul class="list-unstyled card-description">
                <li>
                  The attendance tracking feature in a Hostel Management System
                  is crucial for monitoring the presence of residents, ensuring safety, and maintaining accountability.
                </li>
                <li>
                  Each resident is registered in the system with unique identification details such as name,
                  contact information, etc.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row item-row flex-column-reverse flex-lg-row">
        <div class="col-lg-6 d-flex align-items-center">
          <div class="content-holder">
            <div class="text-holder">
              <h3 class="h3 title-border card-heading"><strong>Maintenance Tracking</strong></h3>
              <br>
              <ul class="list-unstyled card-description">
                <li>
                  Regular monitoring and scheduling of maintenance tasks such as plumbing, electrical, and structural
                  repairs to uphold safety standards and resident comfort.
                </li>
                <li>
                  Quick action is taken for maintenance of all facilities in the hostel.
                </li>
              </ul>
            </div>
          </div>

        </div>

        <div class="col-lg-6 image right-image">
          <div class="img-holder right-holder w-lines-2">
            <img alt="image description"
              src="https://s3.us-west-2.amazonaws.com/www.bookingninjas.com/img/illustration-9.svg">
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row item-row flex-column-reverse flex-lg-row">
        <div class="col-lg-6 image">
          <div class="img-holder left-holder w-lines-1 custom-mq">
            <img alt="image description"
              src="https://s3.us-west-2.amazonaws.com/www.bookingninjas.com/img/illustration-12.svg">
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center  right-text">
          <div class="content-holder">
            <div class="text-holder">
              <h3 class="h3 title-border card-heading"><strong>Security Management</strong> </h3>
              <br>
              <ul class="list-unstyled card-description">
                <li> Implementing robust security measures like surveillance systems, access control, and security
                  personnel to safeguard residents and their belongings</li>

                <li>
                  Access restrictions - Login only from Whitelisted IPs for front line
                  staff, access from anywhere for managers/admins
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row item-row flex-column-reverse flex-lg-row">
        <div class="col-lg-6 d-flex align-items-center">
          <div class="content-holder">
            <div class="text-holder card-heading">
              <h3 class="h3 title-border"><strong>Useful Links: </strong></h3>
              <ul class="list-unstyled card-description" style="text-decoration: none;">
                <li><a href="https://www.pict.edu/">PICT official Website</a></li>
                <li><a
                    href="https://www.google.com/maps/dir//Survey+No.+27,+Near,+Trimurti+Chowk,+Bharati+Vidyapeeth+Campus,+Dhankawadi,+Pune,+Maharashtra+411043/@18.4575243,73.7684319,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x3bc2eac85230ba47:0x871eddd0a8a0a108!2m2!1d73.8508336!2d18.4575421?entry=ttu">PICT
                    location</a></li>

                <li><a href="https://pict.edu/pictoreal/">PICT Club: PICTORIAL</a></li>
                <li><a href="https://pict.edu/csi/">PICT Club: PCSB/CSI</a></li>
                <li><a href="https://pict.acm.org/">PICT Club: ACM</a></li>
                <li><a href="https://pict.edu/ieee/">PICT Club: IEEE</a></li>
                <li><a href="https://pict.edu/cocurricular/">PICT Club: NSS</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 image right-image">
          <div class="img-holder right-holder w-lines-2 custom-mq">
            <img alt="image description"
              src="https://s3.us-west-2.amazonaws.com/www.bookingninjas.com/img/illustration-11.svg">
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row item-row">
        <div class="col-lg-6 image">
          <div class="img-holder left-holder w-lines-1">
            <img alt="image description"
              src="https://s3.us-west-2.amazonaws.com/www.bookingninjas.com/img/illustration-10.svg">
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center  right-text" id="contact">
          <div class="content-holder">
            <div class="text-holder">
              <h3 class="h3 title-border card-heading"><strong>Contact Details: </strong></h3>
              <br>
              <ul class="list-style card-description">
                <ol>
                  College Security: [Security Office Phone Number]
                </ol>
                <ol>
                  Medical Emergency: [College Medical Center Phon Number]
                </ol>
                <ol>
                  Local Police: [Local Police Department Phone Number]
                </ol>
                <p>For any urgent matters or concerns, please contact the hostel warden or manager.

                </p>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
    <main>

      <footer class="text-center text-lg-start text-white " style="width:100%; background-color: #7053ff">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Links -->
          <section class="">
            <!--Grid row-->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  Hostel Management System
                </h6>

                <p class="contact-desc">
                  Survey No. 27, Near Trimurti Chowk<br>
                  Bharti Vidyapith Campus<br>
                  Dhankwadi, Pune - 411043<br>
                  <a href="https://www.google.com/maps/dir//SCTR'S+Pune+Institute+of+Computer+Technology+Survey+No.+27+Near,+Trimurti+Chowk,+Bharati+Vidyapeeth+Campus,+Dhankawadi+Pune,+Maharashtra+411043/@18.4575421,73.8508336,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bc2eac85230ba47:0x871eddd0a8a0a108!2m2!1d73.8508336!2d18.4575421"
                    target="_blank">Google Maps Link</a>
                </p>

              </div>
              <!-- Grid column -->

              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Office Hours</h6>
                <p>
                  Monday to Friday: <br>7:00am - 6:00pm<br><br>
                  Saturday: <br>7:00am - 6:00pm<br><br>
                  Sunday: Holiday
                </p>
              </div>
              <!-- Grid column -->

              <hr class="w-100 clearfix d-md-none" />


              <!-- Grid column -->
              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p><i class="fas fa-envelope mr-3"></i> registrar@pict.edu</p>
                <p><i class="fas fa-phone mr-3"></i>+91 20 24371101</p>
                <p><i class="fas fa-print mr-3"></i> Fax: +91 20 24364741</p>
              </div>
              <!-- Grid column -->
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->

          <hr class="my-3">

          <!-- Section: Copyright -->
          <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
              <!-- Grid column -->
              <div class="col-md-7 col-lg-8 text-center text-md-start">
                <!-- Copyright -->
                <div class="p-3">
                  © PICT 2024 Copyright:
                </div>
                <!-- Copyright -->
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                <!-- Facebook -->
                <div class="footer-share">
                  <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"
                    href="https://www.facebook.com/PICTOfficial/" target="_blank"><i class="fab fa-facebook"></i>
                  </a>

                  <!-- Twitter -->
                  <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"
                    href="https://twitter.com/punepict?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>

                  <!-- Google -->
                  <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"
                    href="https://www.google.com/search?q=pict+pune&rlz=1C1ONGR_enIN1025IN1025&oq=pict+p&gs_lcrp=EgZjaHJvbWUqFQgAEAAYQxiDARjjAhixAxiABBiKBTIVCAAQABhDGIMBGOMCGLEDGIAEGIoFMhIIARAuGEMYgwEYsQMYgAQYigUyBggCEEUYOTIHCAMQABiABDIHCAQQABiABDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPKgCALACAA&sourceid=chrome&ie=UTF-8"
                    target="_blank"><i class="fab fa-google"></i></a>

                  <!-- Instagram -->
                  <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"
                    href="https://www.instagram.com/pict.pune/?hl=en" target="_blank"><i
                      class="fab fa-instagram"></i></a>
                </div>
                <!-- Grid column -->
              </div>
          </section>
          <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
      </footer>
      <!-- Footer -->

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">

          // Smooth scrolling to the anchor links
          document.querySelectorAll('a[href^="#"]').forEach(function (anchor) {
            anchor.addEventListener('click', function (e) {
              e.preventDefault();

              var target = document.querySelector(this.getAttribute('href'));

              target.scrollIntoView({
                behavior: 'smooth'
              });
            });
          });
        </script>
</body>

</html>