<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Font Awesome -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    />
</head>
<body>
  <div class="text-center">
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0 mx-auto" >
                  <div class="px-md-5 w-100">
                    <div class="card-body text-center">
      
                      <div class="text-center">
                        <img src="https://www.pict.edu/images/pic.jpg"
                          style="width: 185px; " alt="logo">
                        <h4 class="mt-1 mb-5 pb-1">Pune Institute of Computer Technology Staff Login</h4>
                      </div>
      
                      <form action="/staff" method="post">
                        <p>Please login to your account</p>
      
                        {{!-- <div class="form-outline mb-4">
                          <input type="email" name="email" id="form2Example11" class="form-control"
                            placeholder="Phone number or email address" />
                          <label class="form-label" for="form2Example11">Username</label>
                        </div> --}}
      
                        {{!-- <div class="form-outline mb-4">
                          <input type="password" name="password" id="form2Example22" class="form-control" />
                          <label class="form-label" for="form2Example22">Password</label>
                        </div> --}}

                        <div class="mb-3 row">
                          <label for="inputPassword" class="col-sm-2 col-form-label">E-mail</label>
                          <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputPassword" name="email">
                          </div>
                        </div>

                        <div class="mb-3 row">
                          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                          <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" name="password">
                          </div>
                        </div>

                          <div class="mb-3 row">
                          <label for="collegeId" class="col-sm-2 col-form-label">College ID</label>
                          <div class="col-sm-10">
                            <input type="password" class="form-control" id="collegeId" name="collegeId">
                          </div>
                        </div>
      
                    <div class="text-center pt-1 mb-5 pb-1">
                          <a ><button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" >Log
                            in</button></a>
                        </div>
      
      
                      </form>
      
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</body>
</html>